/**
 *
 *	@module			ProCalendar
 *	@version		see info.php of this module
 *	@authors		David Ilicz Klementa, Burkhard Hekers, Jurgen Nijhuis, John Maats,erpe
 *	@copyright		2012-2024 David Ilicz Klementa, Burkhard Hekers, Jurgen Nijhuis, John Maats,erpe
 *	@license		GNU General Public License
 *	@license terms	see info.php of this module
 *	@platform		see info.php of this module
 *
 *	Based on MyCalendar by Burkhard Hekers
 */
 
code {font-weight:bold;}
h3 {font-weight:bold;font-size:1.2em;letter-spacing:-1px;}
hr {height:0;line-height:0;border:0;border-top:1px solid #bbb;width:100%;margin:10px 0;padding:0;}

.modify_content {color:#333;border:1px solid $000;}
.show_calendar {float:right;width:215px;margin-bottom:20px;}
.calendarmod {border-collapse:collapse;background:#fff;width:100%;font-size:12px;font-family:arial,helvetica,sans-serif;border:1px solid #bbb;}
.calendarmod a {text-decoration:none;display:block;}
.calendarmod td {height:20px;text-align:center;line-height:20px;border:1px solid #bbb;}

.arrows {float:left;width:50%;}
tr.calendarmod-header td {text-align:center;font-weight:bold;background:#f0f0f0;}
tr.calendarmod-header td a {display:block;height:20px;line-height:20px;background:#c7e5c7;}
tr.calendarmod-header td a:hover {background:#a5d5a5 !important;}
td.calendar_weekday {background:#f0f0f0;width:30px;}
td.calendar_emptyday:hover {background:#c7e5c7;}
td.calendar_markday {background:#ffdfe0;font-weight:bold;}
td.calendar_markday:hover {background:#ffc3c5;}
td.calendar_noday {background:#fff;}
td.procal_today {border:2px solid #ff0000;} 

.actionlist {float:left;width:660px;margin-bottom:20px;}
.actionlist_table {width:100%;background:#f0f0f0;}
.actionlist tr {background:#f0f0f0;height:22px;line-height:22px;width:100%;}
.actionlist tr:hover {background:#eaeff6;}
.actionlist td {border-top:1px solid #f9f9f9;border-bottom:1px solid #f9f9f9;padding:0 10px;height:22px;line-height:22px;}
.actionlist h2 {font-size:14px;text-align:center;font-weight:bold;margin:0;letter-spacing:normal;}
.actionlist_header {font-weight:bold;background:none !important;}

.event_details {width:100%;border-top:1px solid #ccc;padding-top:15px;clear:both;}

input {font-size:11px;padding:2px;}

.field_line {height:30px;line-height:30px;}
.double_field_line {height:60px;line-height:30px;}
.triple_field_line {height:90px;line-height:30px;}
.line_box {height:30px;width:212px;float:left;}
.field_area {height:90px;line-height:90px;}
.field_title {float:left;width:170px;}
.edit_label td {width:10px;}

.edit_field,
.edit_description {width:400px;}
.edit_select {width:408px;padding:0 0 0 2px;}
.edit_select_short {width:290px;padding:0 0 0 2px;}
.edit_field_short {width:280px;}
.edit_date,
.edit_time {width:80px;}

#buttonrow {width:100%;margin-bottom:15px;}
.edit_button, 
.mod_procalendar_edit_css {padding:1px 5px;width:140px;font-size:11px;margin:2px !important;}
.float_right {float:right;}

.customfields textarea {width:98%;height:80px;margin-bottom:20px;}

/*
Needed css for DatePicker calendar. 
DON'T CONVERT CAPITALS TO LOWERCASE! Datepicker will not function if set to lowercase!
*/
TABLE.jCalendar {border-bottom:#000 1px solid;border-left:#000 1px solid;border-spacing:2px;border-collapse:separate;background:#aaa;border-top:#000 1px solid;border-right:#000 1px solid;}
TABLE.jCalendar TH {background:#333;color:#fff;font-weight:bold;padding:3px 5px;}
TABLE.jCalendar TD {text-align:center;background:#ccc;color:#000;padding:3px 5px;}
TABLE.jCalendar TD.other-month {background:#ddd;color:#aaa;}
TABLE.jCalendar TD.today {background:#666;color:#fff;}
TABLE.jCalendar TD.dp-hover.selected {background:#f33;color:#fff;}

DIV.dp-popup {position:relative;line-height:1.2em;width:186px;font-family:arial, sans-serif;background:#ccc;font-size:10px;padding:2px;}
DIV#dp-popup {z-index:199;position:absolute;}
DIV.dp-popup H2 {text-align:center;font-size:12px;margin:2px 0;padding:0;}

A#dp-close {text-align:center;display:block;font-size:11px;padding:4px 0;}
A#dp-close:hover {text-decoration:underline;}

DIV.dp-popup A {color:#000;text-decoration:none;padding:3px 2px 0;}
DIV.dp-popup DIV.dp-nav-prev {position:absolute;width:100px;top:2px;left:4px;}
DIV.dp-popup DIV.dp-nav-prev A {float:left;cursor:pointer;}
DIV.dp-popup DIV.dp-nav-next A {cursor:pointer;float:right;}
DIV.dp-popup DIV.dp-nav-next {position:absolute;width:100px;top:2px;right:4px;}
DIV.dp-popup A.disabled {color:#aaa;cursor:default;}
DIV.dp-popup TD {cursor:pointer;}

INPUT.dp-applied {width:120px;float:left;}

A.dp-choose-date {text-indent:-2000px;width:16px;display:block;background:url('./js/calendar.png') no-repeat;float:left;height:16px;overflow:hidden;margin:3px;padding:0;}
A.dp-disabled.dp-choose-date {cursor:default;}

#calendar-me {margin:20px;}

TABLE.jCalendar TD.selected,
TABLE.jCalendar TR.selectedWeek TD {background:#f66;color:#fff;}
TABLE.jCalendar TD.dp-hover,
TABLE.jCalendar TR.activeWeekHover TD {background:#fff;color:#000;}
TABLE.jCalendar TD.disabled,
TABLE.jCalendar TD.dp-hover.disabled,TABLE.jCalendar TD.unselectable,
TABLE.jCalendar TD.unselectable:hover,
TABLE.jCalendar TD.dp-hover.unselectable {background:#bbb;color:#888;}

DIV.dp-popup DIV.dp-nav-prev A.disabled,
DIV.dp-popup DIV.dp-nav-next A.disabled,
DIV.dp-popup TD.disabled {cursor:default;}

#start_time,
#end_time {vertical-align:top;}

.procal_hidden {display:none;}
.rec_rep_count {vertical-align:top;}


input[type="checkbox"] {
    margin-left: 14px;
    margin-right: 6px;
    vertical-align: -3px;
}

.inputbox {margin-top:10px;width:410px;}
